<ngx-grid-layout
  [layout]="data"
  [colNum]="12"
  [rowHeight]="40"
  [isDraggable]="draggable"
  [isResizable]="resizable"
  [useCssTransforms]="useCssTransforms"
  [verticalCompact]="verticalCompact"
  [responsive]="responsive"
>
  <ngx-grid-item *ngFor="let item of data"
                 [x]="item.x"
                 [y]="item.y"
                 [w]="item.w"
                 [h]="item.h"
                 [i]="item.i"
                 [cols]="colNum"
                 [rowHeight]="rowHeight"
                 [isDraggable]="item.static && draggable"
                 [isResizable]="item.static && resizable"
                 [useCssTransforms]="useCssTransforms"
                 [componentType]="item.componentType"
                 [data]="item.data"
  >
  </ngx-grid-item>
</ngx-grid-layout>
